body {
    font-family: PT Sans;

    margin: 0;

    color: maroon;
    background: white;
}

a {
    text-decoration: none;

    color: inherit;
}

h2 {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
}

#logo {
    font-size: 2.5em;
    line-height: 100px;

    float: left;

    width: 400px;
    height: 100px;
    margin-left: 30px;

    transition: letter-spacing .2s ease 0s;
    text-align: center;

    color: maroon;
}

#logo:hover {
    letter-spacing: .5px;
}

#links {
    font-size: 1.5em;
    line-height: 100px;

    float: right;

    width: 600px;
    height: 100px;
    margin-right: 30px;

    text-align: center;
}

#links > a {
    float: left;

    width: 200px;
}

#links > a > span {
    float: right;
    overflow: hidden;

    width: 0;

    transition: all .2s ease 0s;
}

#links > a:hover > span {
    width: 125px;
}

#blurb {
    font-family: Montserrat;

    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 10px;

    border: dashed maroon 2px;
}

#top {
    width: 100%;
}

#projects {
    font-family: Montserrat;

    overflow: hidden;

    width: 40%;
    min-height: 125px;
    margin: 30px;
    padding: 20px;

    border: dashed maroon 2px;
}

.project {
    float: left;

    width: 100px;
    height: 100px;
    margin: 25px;

    transition: all .2s ease 0s;
    text-align: center;
}
.project span {
    font-size: .8em;
}

.project:hover {
    transform: translate(0px, 10px);
}

#bottom {
    width: 100%;
}

#qual {
    font-family: Montserrat;

    float: right;
    overflow: hidden;

    width: 50%;
    min-height: 125px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 20px;

    border: dashed maroon 2px;
}

#qual > div {
    float: left;

    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

#qual > div > span {
    font-size: 1.1em;
}

footer {
    font-family: Montserrat;

    float: left;

    width: 100%;
    min-height: 50px;

    text-align: right;

    border-top: dashed maroon 2px;
}

footer > p {
    font-size: 10px;

    margin-right: 10px;
}

@media (max-width: 1200px) {
    #logo {
        font-size: 1.5em;

        width: 300px;
    }

    #links {
        font-size: 1em;

        width: 300px;
    }

    #links > a {
        float: left;

        width: 100px;
    }

    #links > a > span {
        float: right;
        overflow: hidden;

        width: 0;

        transition: all .2s ease 0s;
    }

    #links > a:hover > span {
        width: 80px;
    }
}
@media (max-width: 700px) {
    header {
        width: 320px;
        margin: 0 auto;
    }

    #logo {
        font-size: 1.2em;
        line-height: 50px;

        width: 320px;
        height: 50px;
        margin: 0 auto;
    }

    #links {
        font-size: .8em;
        line-height: 50px;

        width: 320px;
        height: 50px;
        margin: 0 auto;
    }

    #links > a {
        float: left;

        width: 100px;
    }

    #links > a > span {
        float: right;
        overflow: hidden;

        width: 80px;
    }
}
@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
                text-size-adjust: 100%;
    }
}
.tex sub,
.latex sub,
.latex sup {
    font-family: Times;

    text-transform: uppercase;
}

.tex sub,
.latex sub {
    margin-right: -.125em;
    margin-left: -.1667em;

    vertical-align: -.5ex;
}

.tex,
.latex,
.tex sub,
.latex sub {
    font-family: Times;
    font-size: 1em;
}

.latex sup {
    font-size: .85em;

    margin-right: -.15em;
    margin-left: -.36em;

    vertical-align: .15em;
}
