/* http://pltts.me/palettes/143880 */
* {
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0; }

body {
  font-size: 0;
  max-width: 46.2cm;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #333; }

a {
  text-decoration: none;
  color: #C02942; }

.page {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 21.6cm;
  height: 27.8cm;
  margin: 0.5cm;
  padding-top: 1.4cm;
  padding-right: 1.8cm;
  padding-bottom: 1.4cm;
  padding-left: 1.8cm;
  text-align: left;
  background-color: #fafafa; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PT Sans; }

body {
  font-family: Montserrat; }

.pageheader {
  font-size: 0;
  margin-bottom: 4.5mm; }
  .pageheader > img, .pageheader > section {
    display: inline-block;
    vertical-align: top; }
  .pageheader img {
    width: 15.625mm;
    height: 25mm;
    margin-right: .5cm; }
  .pageheader h1 {
    font-size: 10mm;
    display: inline-block;
    height: 12.5mm;
    color: #542437;
    position: relative; }
    .pageheader h1:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      content: '';
      border-bottom: 0.5mm solid #542437; }
    .pageheader h1 em {
      font-style: normal;
      color: #b8273f; }
    .pageheader h1:after {
      bottom: -0.25mm; }
  .pageheader h2 {
    font-size: 6mm;
    color: #6c1725; }
  .pageheader h3 {
    font-size: 4mm;
    color: #6c1725; }
  .pageheader .addrs {
    height: 12.5mm;
    padding-top: 3mm;
    color: #555555; }
  .pageheader .mailing {
    margin-top: 10px;
    margin-left: 20px;
    float: right !important; }
    .pageheader .mailing address {
      font-size: 3.5mm; }
  .pageheader address {
    font-size: 4mm;
    font-style: normal;
    display: inline;
    margin: 0; }
    .pageheader address:nth-child(2n + 1):not(:last-child):after {
      margin-right: 2mm;
      margin-left: 2mm;
      content: '|'; }
    .pageheader address:nth-child(2n):after {
      content: '\A';
      white-space: pre; }

.notes h1 {
  font-size: 6mm;
  display: inline-block;
  margin: 0;
  color: #b8273f; }
.notes h2 {
  font-size: 4mm;
  font-weight: bold;
  color: #6c1725; }
.notes p {
  font-family: Montserrat;
  font-size: 3.2mm;
  font-weight: normal;
  line-height: 4.2mm;
  color: #555555; }
  .notes p sub {
    position: relative;
    top: .3em;
    display: inline-block;
    vertical-align: bottom; }
.notes ul#content_list {
  font-family: Montserrat;
  font-size: 3.2mm;
  font-weight: normal;
  line-height: 4.2mm;
  color: #555555; }
  .notes ul#content_list li:not(:last-child) {
    margin-bottom: 4px; }
.notes li {
  list-style-type: none; }
.notes .nested > ul {
  margin-left: .5mm; }
.notes .nested > ul > li {
  margin-bottom: 1mm; }

.minor {
  display: inline-block;
  width: 7cm;
  margin-right: 8mm;
  vertical-align: top; }
  .minor > li:not(.nested) > ul > li {
    font-size: 3.2mm;
    line-height: 4.5mm;
    margin-bottom: .0cm;
    color: #555555; }
  .minor > li {
    margin-left: .5mm; }

.major {
  display: inline-block;
  width: 10.2cm;
  vertical-align: top; }
  .major .nested {
    margin-bottom: 5mm; }
  .major aside {
    font-size: 3.2mm;
    display: inline-block;
    height: 3.2mm;
    margin-top: 3mm;
    color: #555555; }

.info {
  font-size: 3.2mm;
  font-size: 0;
  display: block; }
  .info li {
    font-size: 3.2mm;
    display: inline-block;
    margin-top: .4mm;
    margin-bottom: .4mm; }
    .info li:not(:last-child):after {
      display: inline-block;
      margin-right: 2mm;
      margin-left: 2mm;
      content: '||';
      color: #c24027; }

.footer {
  font-size: 3.2mm;
  position: absolute;
  right: 1.8cm;
  bottom: 1.4cm;
  display: inline-block;
  text-align: right;
  color: #555555; }

@page {
  margin: 0; }
@media print {
  .page {
    margin: 0; } }
.tex sub,
.latex sub,
.latex sup {
  font-family: Times;
  text-transform: uppercase; }

.tex sub,
.latex sub {
  margin-right: -.125em;
  margin-left: -.1667em;
  vertical-align: -.5ex; }

.tex,
.latex,
.tex sub,
.latex sub {
  font-family: Times;
  font-size: 1em; }

.latex sup {
  font-size: .85em;
  margin-right: -.15em;
  margin-left: -.36em;
  vertical-align: .15em; }
