body {
	font-family: PT Sans;
	background-color: white;
	color: maroon;
}

body p {
	margin: 150px auto;
	font-size: 2.5em;
	text-align: center;
}

body a {
	padding: 5px;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	border: 2px maroon dashed;
}