$bgcolor: #EFEFEF;
$main-text-color: maroon;

$fnt_minor: Montserrat;
$fnt_major: PT Sans;

$color-1: 	#ECD078;
$color-2: 	#D95B43;
$color-3: 	#C02942;
$color-4: 	#542437;
$color-5: 	#53777A;

$color-h1-light:	darken($color-3, 2%);
$color-h1-dark:		$color-4;
$color-h1-stroke:	$color-4;
$color-h2:			darken($color-3, 20%);
$color-link: 		$color-3;
$color-accessory:	darken($color-2,10%);
$grey:				#666666;


$fnt_minor: Montserrat;
$fnt_major: PT Sans;