//TODO unused

$paperwidth: 	21.6cm; 
$paperheight: 	27.8cm;

$gridunit: 	1cm;
 
$contentwidth: 	18cm;
$contentheight: 25cm;

$pagemargin: 	1cm;
$thinstroke:	0.5mm;

$header-size-mid: 		6mm;
$header-size-small: 	4mm;
$body-text-size:		3.2mm;

@mixin afterunderline(){
	position:relative;

	&:after{
		content:	"";
		display:	block;
		width: 		100%;
		position:	absolute;
		bottom:		0;
		left:0px;

		border-bottom: $thinstroke solid $color-h1-stroke;
	}
}

* {
	margin: 	0;
	padding: 	0;
	box-sizing: 		border-box !important;
	-moz-box-sizing: 	border-box !important;
}


body{
	background-color: 	#333333;
	text-align: 		center;
	font-size:			0;

	max-width: $paperwidth * 2 + $pagemargin * 3;
	margin-left:auto;
	margin-right:auto;
}

a{
	color: $color-link;
	text-decoration: none;
}

.page {
	display:	inline-block;
	text-align:	left;
	font-size:	0;

	width:	$paperwidth;
	height:	$paperheight;
	margin: $pagemargin / 2;

	padding-top:	($paperheight - $contentheight)/2;
	padding-bottom:	($paperheight - $contentheight)/2;
	padding-left:	($paperwidth - $contentwidth)/2;
	padding-right:	($paperwidth - $contentwidth)/2;

	background-color: #fafafa;

	position:relative;
}


h1, h2, h3, h4, h5 ,h6 {
	font-family: $fnt_major;
}

body{
	font-family: $fnt_minor;
}

.pageheader{
	
	font-size:	0;

	& > img, & > section{
		display:inline-block;
		vertical-align:top;
	}

	$logoratio: 	20/32;
	$logoheight:	25mm;
	$logowidth:		$logoheight * $logoratio;
	
	img{
		height:	$logoheight;
		width:	$logowidth;
		margin-right: 0.5cm;
	}

	h1{
		color: $color-h1-dark;

		font-size:	10mm;
		display:	inline-block;
		height: 	$logoheight/2;

		em{
			font-style:	normal;
			color: 		$color-h1-light;
		}

		@include afterunderline;
		&:after{ bottom: -$thinstroke/2 }
	}

	h2{
		font-size:	$header-size-mid;
		color: $color-h2;

	}

	.addrs{
		height:$logoheight/2;
		padding-top: 3mm;
		color: $grey;
	}

	address{
		display: inline;
		font-size: 4mm;
		margin:0;

		font-style:normal;

		&:nth-child(2n + 1):not(:last-child){
			&:after{
				content:		"|";
				margin-left: 	2mm;
				margin-right: 	2mm;
			}
		}
		&:nth-child(2n){
			&:after{
				content:"\A";
				white-space: pre;
			}
		}
	}
	margin-bottom: 5.5mm;
}


.notes{
	h1 {
		font-size: 	$header-size-mid;
		color:		$color-h1-light;
		display:inline-block;
		margin:0;
	}

	h2{
		font-size: 	$header-size-small;
		color: 		$color-h2;
		font-weight: bold;
	}

	p{
		font-size: 		$body-text-size;
		font-weight:	normal;
		font-family:	$fnt_minor;
		line-height: 	$body-text-size + 1mm;
		color: $grey;

		sub{
			display:inline-block;
			position:relative;
			top:0.3em;
			vertical-align:bottom;
		}
	}

	li{
		list-style-type: none;
	}

	.nested > ul{
		margin-left:0.5mm;
	}	


	.nested > ul> li{
		margin-bottom:1mm;
	}
}

$minor-width: 		6.6cm;
$margin-middle: 	8mm;

.minor{
	display:		inline-block;
	vertical-align:	top;
	width:			$minor-width;
	margin-right: $margin-middle;

	& > li:not(.nested) > ul > li {
		font-size: $body-text-size;
		line-height: 4.5mm;
		color: $grey;
		margin-bottom: 0.0cm;
	}

	&>li{
		margin-left:0.5mm;
	}

}
 
.major{
	display: inline-block;
	vertical-align:	top;
	width: $contentwidth - $margin-middle - $minor-width;
	
	.nested{
		margin-bottom: 5mm;
	}

	aside{
		margin-top: 3mm;
		display: 	inline-block;
		height: 	$body-text-size;
		font-size: $body-text-size;
		color: $grey;
	}

}

.info{
	display:block;
	font-size: 	$body-text-size;
	font-size:	0;

	li{
		display: 	inline-block;
		font-size:	$body-text-size;

		&:not(:last-child):after{
			content:		"||";
			display:		inline-block;
			margin-left:	2mm;
			margin-right:	2mm;
			color:			$color-accessory;
		}

		margin-top: 	0.4mm;
		margin-bottom: 	0.4mm;
	}

}

.footer{
	display:inline-block;
	position:absolute;
	
	bottom:	($paperheight - $contentheight)/2;
	right:	($paperwidth - $contentwidth)/2;

	text-align:right;

	color: $grey;
	font-size: $body-text-size;
}

@page{
	margin: 0;

}
@media print{
	.page{
		margin:0;
	}

}
