@import 'config';
@import 'main_rules';

content {
    img {
        width: 45%;
        margin-top: 20px;
        margin-right: 2%;
        margin-bottom: 40px;
        margin-left: 2%;
    }
    .project_content {
        float: right;

        width: 45%;
        margin-top: 20px;
        margin-right: 2%;
        margin-bottom: 40px;
        padding: 10px;

        border: 2px dashed $main_text_color;
        h3 {
            margin: 0;
        }
        ul li {
            font-family: $fnt-minor;

            text-align: left;
        }
        a {
            font-family: $fnt-minor;

            padding: 3px;

            border: 1px solid $main_text_color;
        }
        p {
            font-family: $fnt-minor;
        }
        .project_links {
            margin: 20px auto;

            text-align: center;
        }
    }
}
