.leadership-portfolio.container
  .collection#side-nav.hide-on-small-only
    a(href="#scroll-header").collection-item Introduction
    a(href="#strengths").collection-item My Strengths
    a(href="#obstacles").collection-item My Obstacles
    a(href="#values").collection-item My Values
    a(href="#purpose").collection-item My Purpose
    a(href="#growth").collection-item My Growth
    a(href="#skills").collection-item My Skills
    a(href="#ethics").collection-item My Ethics
    a(href="#courage").collection-item My Courage
    a(href="#goals").collection-item My Goals

  .section.row
    .col.m10.push-m2
      h3.center Leadership Portfolio
      p Hello! My name is Harrison Goldstein and I am a member of the 2015 cohort of the Engineering Leadership Certification program. To culminate my work in the program, I have been asked to put together a portfolio that showcases my leadership skills, as well as my journey through the Leadership Certification program.<br><br>Leadership to me is a complex idea, but for me it has three main elements. First, leadership is a deeply introspective act. It requires understanding of yourself and your abilities, as well as the things that keep you from performing at your best. Next, leadership requires something to lead towards. With nothing to accomplish, leadership is not only unimportant, it is impossible. Finally, leadership relies on having someone to lead. Though leadership can sometimes simply be leading yourself, it is really most effective when used to rally a group to a  cause. While I often won't have control over who I am leading, I do have the ability to understand myself and my goals.<br><br>As you scroll down this page, I will walk you through some of the things that I have learned over the past year about myself, and about what I want to lead people to do. If you want to get to any section in particular, feel free to use the navigation panel on the left to get there quickly. Enjoy!
  .section.row#strengths
    .col.m10.push-m2
      h4 My Strengths
      p Starting off on my leadership journey, it made sense to assess my strengths. By taking inventory of what I am good at, I could increase my effectiveness in teams and on my own. <em>Click on the strengths below to read more.</em>
      ul.collapsible.accordion(data-collapsible='accordion')
        li
          .collapsible-header Eccentric Presence
          .collapsible-body: p Early on in the leadership program we learned about our presence. This isn't our leadership style, nor is it the way we see ourselves. Instead, it is a reflection of the effect we have on others by simply walking into a room. I discovered that my presence is <strong>eccentric</strong>. I can use this presence to my advantage by making others around me feel more comfortable and included. By being my quirky and goofy self, I make other people want to be themselves too.
        li
          .collapsible-header Optimism and Drive
          .collapsible-body: p Anyone who knows me can tell you that I am an optimistic person. I look at challenging situations as just another step towards a goal, and I am always driven to tackle any problem in my path. I consider this to be one of my most important strengths because it is especially valuable in difficult situations. When four assignments, two projects, and a prelim all fall in the same week, my optimism and drive get me through it all.
        li
          .collapsible-header Problem Solving
          .collapsible-body: p Someone told me when I was younger that "engineer" just means "problem solver". Of course, I know that there is a lot more to it than that, but from that point on, I wanted to be an engineer. I suppose that I have always been a problem solver; I love breaking problems down into smaller problems, or re-framing a problem as a different one that is easier to solve. The whole process just fascinates me, and with so many problems in the world, I am glad that I love solving them. 
  .section.row#obstacles
    .col.m10.push-m2
      h4 My Obstacles
      p Once I had figured out what I was good at, the next step was to take a look at what holds me back. This is never an easy process, but with the help of the Leadership program, I was able to define some of my obstacles.
      table
        tr
          th My<br>Inner Critic
          td Though the inner critic &#40;that voice in your head that tells you that you're not good enough&#41; is a problem for almost everyone, it is still worth mentioning as one of the biggest things that holds me back. My inner critic keeps me from going to social events, talks me out of having important conversations, and makes me feel uncomfortable in my own body. It is a manifestation of some of my biggest fears.
        tr
          th Lack of Mindfulness
          td It is a very difficult task to be mindful all of the time, but it is incredibly important&mdash;and I am not very good at it. Any time that speak over others in a group meeting, get angry at something that isn't worth my energy, or let myself lose track of my monthly budget, I feel that the root cause is my lack of mindfulness. I have been working over the last year to improve at this, but I have a long way to go.
        tr
          th Hubris
          td I am a very proud person, which is not always bad, but when my pride is hurt, I really let it get to me. Just the other day, I was beating myself up over a single programming assignment that &#40;I actually did calculate this&#41; was worth less than 1% of my grade. I wasn't upset because I didn't get a good grade, I was upset because I am too proud of my abilities as a programmer, and I let it ruin my whole night.
  .section.row#values
    .col.m10.push-m2
        h4 My Values
        p One of the most personal things that I discovered about myself through the Engineering Leadership Certification program was my values. These things are integral to my decision making as well as to the way that I view the world. <em>Click the different tabs to learn about each value.</em>
        .row
          .col.s12
            ul.tabs
              li.tab.col.s3: a.c-tab.active(href="#learning") Learning
              li.tab.col.s3: a.c-tab(href="#order") Order
              li.tab.col.s3: a.c-tab(href="#justice") Justice
              li.tab.col.s3: a.c-tab(href="#worth") Self-Worth
          .col.s12#learning
            .card
              .card-content
                span.card-title Learning
                .card-body A day that goes by without learning something feels to me like a wasted day. There is so much more to learn in our world &#40;especially in this day and age&#41; than any one person could ever know, but one of my favorite things to do is to chip away at the mountain of things I don't know. Knowledge is power, and I will continue looking for the power of knowledge for the rest of my life.
          .col.s12#order 
            .card
              .card-content
                span.card-title Order
                .card-body When I was a kid, my Lego creations all had to be symmetrical... and the same color... and exactly the way it was on the box. You could probably call it mild OCD, but I much prefer to say that I value order in my life. I love programming because it is an act in organizing the chaos of a computer to do what you want it to do. I keep my life organized not just because its easier, but because that's just the way I think it should be.
          .col.s12#justice
            .card
              .card-content
                span.card-title Justice
                .card-body Let me start by saying that "justice" is the wrong word for this, but I have yet to find a better word that makes any sense to me. I don't mean "justice" as in Batman's mission, I mean a strong feeling that some things are inherently <strong>right</strong>, and some things are inherently <strong>wrong</strong>. I have a view of the way the world <strong>should</strong> be, and while I know that it will never really be that way, I try to help it get there.
          .col.s12#worth
            .card
              .card-content
                span.card-title Self-Worth
                .card-body I was raised to have a strong sense of self-worth. That is to say that no matter what others say to me, I will always continue to believe that I am <strong>worthy</strong>. This value is extremely important to me because it allows me to be resilient to adversity, and I try hard to instill this feeling of self-worth in others around me. When no one believes in you, you at least need to be able to believe in yourself.
  .section.row#purpose
    .col.m10.push-m2
      h4 My Purpose
      p With a solid understanding of my strengths, obstacles, and, most importantly, values, I did some thinking about my purpose. My purpose lies at the intersection of what I want for the world, and what the world needs, and this is heavily influenced by my values. <em>The following video is a speech that I gave about my purpose.</em>
      iframe.purpose-video(width="560" height="315" src="https://www.youtube.com/embed/wkhW3kqfuFw" frameborder="0" type='text/html')
      table
        tr
          td
            .purpose-idea.responsive-img
              include ../assets/img/lightbulb-o.svg
          td In a nutshell, my purpose is to bring people with skills together, and to turn great ideas into real things. It is a fairly abstract concept, but it stems from my love of problem solving and my belief that great minds working together is more effective than those same minds working against each other. 
  .section.row#growth
    .col.m10.push-m2
      h4 My Growth
      p Over the past year with the Engineering Leadership Certification program, I have learned so much and grown significantly. Based on the structure of the class, I saw my growth happen in three main stages.
      .row
        .col.m3
          .card
            .card-content
              span.card-title Self
              .card-body As I have discussed above, the first portion of the program was spent doing self-discovery and understanding who we are as leaders and people.
        .col.m1.hide-on-small-only
          .growth-arrow
            i.material-icons trending_flat
        .col.m3
          .card
            .card-content
              span.card-title Group
              .card-body Once put into project teams, the focus of our learning shifted to group dynamics and leadership. We learned about how to make teams work to achieve a goal.
        .col.m1.hide-on-small-only
          .growth-arrow
            i.material-icons trending_flat
        .col.m3
          .card
            .card-content
              span.card-title World
              .card-body Finally, we learned about how the different elements of leadership actually appear in the world. We learned about company culture and diversity to this effect.
      p Each of these stages was immensely valuable, and along the way I learned valuable skills that I will be able to apply to leadership scenarios for the rest of my life. 
  .section.row#skills
    .col.m10.push-m2
      h4 My Skills
      p While some of these skills come naturally to me, most of these leadership-related skills have been developed in me through the Engineering Leadership Certification program. In either case, these skills are critical to being an effective leader.
      .row
        .col.m6.s12
          ul.collection
            li.collection-item Goal Setting
            li.collection-item Persuasion and Influence
            li.collection-item Conflict Resolution
            li.collection-item Decision Making
        .col.m6.s12
          ul.collection
            li.collection-item Active Listening
            li.collection-item Effective Feedback
            li.collection-item Negotiation
            li.collection-item Time Management
  .section.row#ethics
    .col.m10.push-m2
      h4 My Ethics
      p Ethics is a complicated subject, and going through all of my views on ethics in this portfolio would be unreasonable. Instead, I will go through three factors that I use to help define ethical decision making, and then I will briefly discuss situations that I am personally in danger of taking unethical action.
      .row
        .col.m4
          .lower
            h5.center-align The Intent
            p While outcome is more important to me than the intent, it still does matter to me why someone did something unethical. Did they mean to do something benign or even good, and things went poorly, or did they have malicious intent? An action that was meant well is more forgivable.
        .col.m4
          div
            h5.center-align The Outcome
            p The most frequent and most powerful tool that I use to gauge the acceptability of an action is the outcome. Specifically, I care about who or what was harmed by the action. If harm was done, I tend to think that an action was unethical; if no harm was done, I often decide it is ethical.
        .col.m4
          .lower
            h5.center-align The System
            p Is an action acceptable within the system &#40;the laws or rules&#41;? If so, I am more likely to say that it is ethical. If not, I am much more likely to say that it is unethical. The system matters to me because I am of the opinion that even in a broken system, adding chaos is not often the answer.
      p Personally, I am most likely to be unethical in defense of the system. I recognize this as a character flaw of mine, and I do my best to limit its influence on my actions, but I have far too much trust for the laws and rules of the system that I am working in.
  .section.row#courage
    .col.m10.push-m2
      h4 My Courage
      p Courage is an essential part of leadership, as often the responsibility to make a courageous decision falls on a leader. As such, a leader must understand courage.
      .row
        .col.m5
          p Courage to me means making a decision to face a fear for some important purpose. That purpose can be many things, from a personal achievement to a moral obligation. The important thing about a courageous act is that it does not come easily, but that, in the end, that does not matter. I am most courageous when it comes to facing challenges. As I have previously discussed, I rarely back down from a difficult class or problem, but that is not for lack of fear.
        .col.m2.hide-on-small-only
          .courage-warning.responsive-img
            include ../assets/img/shield.svg
        .col.m5
          p Another way that I need to be courageous as a leader is in difficult moral situations. Sometimes the right decision is not only difficult to make, but it is terrifying too. As a leader, I need to promise myself and the people that I am leading that I will be ethical even when that is difficult, and that I will stand up for others who make ethical choices that put them in difficult positions. Leadership must be courageous to be responsible.
  .section.row#goals
    .col.m10.push-m2
      h4 My Goals
      p As a sophomore in college, I still have quite a ways to go before I'll really feel like I know what I want to do in the future. As a Computer Science major, I know that I will always be working with computers, but the extent to which I am writing code for my job is still very much up in the air. My love for leadership has pointed me towards entrepreneurship as a potential career path, and coupled with my technical skill, I think that could be an extremely rewarding direction to go in. What I do know for sure is that I will always be a leader, a problem-solver, an optimist, and an eccentric. I will always be true to myself and my purpose, and I will always strive to be the best Harrison Goldstein that I can be. 
