.nbody.section
  .container
    .card
      .card-content
        .card-title n-Body Simulation
        img(src='/assets/img/nbody.png').responsive-img
        p In the Science and Engineering Learning center at Manalapan High School, all seniors are reaquired to complete two senior projects. These projects are usually done in groups of two, and each spans one semester of the students' final year in the program.
        br
        p <strong>Harrison Goldstein</strong> and <strong>Jessica Freydman</strong> designed and created a glove that interprets letters in the American Sign Language alphabet and prints the letters to a computer screen as a person forms them with his or her hand. The glove also allowed the user to play <i>Rock, Paper, Scissors</i> against the computer.
        br
        p Custom-made optical bend sensors are the main source of information about the user's hand position. With these sensors, it can be determined to what degree the user's fingers are each bent. Hall effect sensors and magnets mounted between the fingers allow for more precise measurements.
        br
        p The various sensors mounted on the glove send signals to a TI-MSP430 microcontroller which is configured to interpret the signals and pass them on to a computer. The computer uses a Python script to further interpret the signals and display a result. 
