body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	background-color: white;
	color: maroon;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	text-decoration: none;
	font-weight: normal;
}

#title {
	width: 100%;
	min-height: 100px;
	margin-top: 20px;
	background-color: white;
	text-align: left;
	font-size: 2.5em;
}

#logo {
	margin-left: 2%;
	color: maroon;
	transition: letter-spacing 0.2s ease 0s;
}

#title > a:hover {
	letter-spacing: 0.5px;
}

#links {
	margin-top: 10px;
	float: right;
	transition: height 1s ease 0s;
}

#links:hover {
	height: 100px;
}

.link {
	width: 150px;
	margin-right: 25px;
	float: left;
	padding: 0;
}

.icon {
	font-size: 0.7em;
	height: 100px;
	text-align: center;
	color: maroon;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.icon:hover > .icon_text {
	width: 100px;
}

.icon_text {

	float: right;
	width: 0px;
	overflow: hidden;
	font-size: 0.7em;
	height: 100px;
	text-align: center;
	color: maroon;
	opacity: 1;
	transition: all 0.2s ease 0s;
}

#blurb {
	width: 100;
	min-height: 50px;
	margin-right: 20px;
	margin-left: 20px;
	border: dotted maroon;
	padding: 10px;
	font-size: 1em;
}

#main1, #main2 {
	border-style: dotted;
	border-color: maroon;
	border-width: 3px;
	padding-left: 20px;
	color: maroon;
	transition: all 0.2s ease 0s;
}

#main1 {
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	width: 50%;
	height: 250px;
	overflow: auto;
}

.project {
	text-align: center;
	width: 100px;
	height: 100px;
	float: left;
	margin: 25px;
	transition: all 0.2s ease 0s;
}

.project:hover {
	transform: translate(0px, 5px);
}

#graphic1 {
	float: right;
	margin-top: 60px;
	margin-right: 20%;
	width: 100px ;
	height: 100px;
	font-size: 6em;
	color: maroon;
	transition: all 0.2s ease 0s;
}

#graphic1:hover {
	transform: rotate(30deg);
}

#graphic2 {
	float: left;
	margin-left: -30%;
	width: 100px ;
	height: 100px;
	margin-top: 400px;
	font-size: 6em;
	color: maroon;
	transition: all 0.2s ease 0s;
}

#graphic2:hover {
	transform: scale(1.1);
}

#main2 {
	float: right;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 30px;
	width: 45%;
	min-height: 250px;
}

#main2 > div {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

#main2 > div > span {
	font-size: 1.1em;
}

#footer {
	float: left;
	margin-top: 40px;
	min-height: 50px;
	width: 100%;
	border-top: dotted maroon;
	text-align: right;
}

#footer > p {
	margin-right: 10px;
	font-size: 10px;
}