$l-primary-color-name: 'light-green'
$l-accent-color-name: 'cyan'

$l-primary-color: color($l-primary-color-name, 'base')
$l-primary-color-light: color($l-primary-color-name, 'lighten-2')
$l-primary-color-dark: color($l-primary-color-name, 'darken-3')

$l-accent-color: color($l-accent-color-name , 'base')
$l-accent-color-light: color($l-accent-color-name , 'accent-3')


.leadership-container
  header
    nav
      background: $l-primary-color
  footer.page-footer,
  footer.page-footer .footer-copyright
    background: $l-primary-color

.leadership-portfolio
  #side-nav
    display: flex
    flex-direction: column
    margin-top: 5px
    padding-top: 5px
    padding-bottom: 5px
    border-top: 2px solid $l-primary-color
    border-bottom: 2px solid $l-primary-color
    .item
      display: block
      margin: 2px 0
      transition: all 0.2s ease
      line-height: 1.7em
      &:hover
        font-weight: 700
      &.active
        font-weight: 700
    a
      color: black

  em
    font:
      style: normal
    color: $l-accent-color

  #title
    margin-top: 10px
  .purpose-idea
    text-align: center
    padding-left: 20px
    padding-right: 20px
    svg
      width: 50px
      height: 50px
      path
        fill: $l-accent-color

  .purpose-video
    max-width: 600px
    width: 100%
    display: block
    margin: 0 auto

  .growth-arrow
    display: flex
    align-items: center
    justify-content: center
    i
      margin-top: 120px
      font-size: 50px
      height: 50px
      width: 100%
      color: $l-accent-color

  #values
    .tabs
      .tab a
        color: $l-accent-color
      .indicator
        background-color: $l-accent-color

  .courage-warning
    text-align: center
    margin-top: 50px
    svg
      max-width: 100%
      height: 100px
      width: 100px
      path
        fill: $l-accent-color

  .secondary-content
    color: $l-accent-color

  @media #{$medium-and-up}
    .lower
      margin-top: 50px
