{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="section-head">
      <h1>Blog</h1>
      <a class="section-more" href="/atom.xml">Feed &rarr;</a>
    </div>
    <div class="rows">
      {% for page in section.pages %}
        <a class="row" href="{{ page.permalink }}">
          <span class="row-year">{{ page.date | date(format="%Y") }}</span>
          <span>
            <span class="row-title">{{ page.title }}</span>
            <span class="row-sub">{{ page.content | striptags | trim | truncate(length=140) }}</span>
          </span>
          <span class="row-meta">{{ page.date | date(format="%b %-d") }}</span>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
